@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
}

.first {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    min-height: 250px;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 180px;
    padding-right: 180px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}



.hero {
    display: flex;
    gap: 50px;
    margin-bottom: 100px; 
}

.awesome {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 0px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 10px;
}

.placeholder-image {
    color: white;
    background-color: gray;
    flex: 1 1 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}